/* Misc */

* {
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.nodisplay {
    display: none;
}

.bold {
    font-weight: bold;
}

.container_flex {
    display: flex;
    justify-content: space-between;
}

fieldset {
    margin: 10px;
    width: 290px;
    padding: 10px;
}

hr {
    border: none;
    border-top: 1px solid gray;
}

legend {
    font-weight: bold;
    text-transform: capitalize;
}

/* Inputs */

input[type="text"],
input[type="number"],
select {
    width: 180px;
}

input[type="number"]:not(.symbol) {
    appearance: textfield;
}

.gen_button {
    min-width: 60px;
}

/* Symbols */

input.symbol {
    width: 50px;
    appearance: auto;
}

/* Entries */

.entry {
    background: #0004;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
}

.entry:hover {
    background: #0006;
}

.entry.selected {
    border: solid 1px black;
    padding: 4px;
}

p,
h4 {
    margin: 0;
}

.entry_cost {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.entry.selected .entry_cost {
    top: 4px;
    right: 4px;
}

/* Contributors */

.contributor {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 2px 0;
    user-select: none;
    height: 26px;
}

.contributor_name {
    margin: auto 0;
}

.contributor:has(input:checked) {
    background: #0004;
}

.contribution {
    height: fit-content;
    margin: auto 0;
}

.contribution button {
    height: 22px;
    width: 22px;
    text-align: center;
}

.contribution input {
    width: 80px;
}

.contribution_percentage input {
    width: 40px;
}

.contribution:has(.contribution_percentage) {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.contribution.contribution:has(.contribution_percentage) span {
    margin: auto 0;
}

/* Balances */

.balance {
    position: relative;
    background: #0004;
    margin-top: 5px;
    padding: 5px;
}

.balance_cost {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

/* Reimbursements */

.reimbursement {
    background: #0004;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
